/etc/sysctl.conf
/etc/avahi/avahi-daemon.conf
/etc/unbound/local-data.conf
/etc/unbound/unbound_srv.conf
/etc/unbound/unbound_ext.conf
/etc/unbound/unbound_adblock.conf
/etc/unbound/root.key
/etc/hotplug.d/net/20-udp-gro
/etc/hotplug.d/net/99-packet-steering
/etc/init.d/packet-steering
/etc/init.d/packet_steering
/etc/init.d/unbound-adblock-placeholder
/usr/libexec/network/packet-steering.uc
/usr/sbin/resize-root
/etc/tailscale/authkey
